<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<title>socket.io</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <ul id="messages"></ul>
  <form action="">
    <input type="text" id="myinput" autocomplete="off" placeholder="input something" /><button>Send</button>
  </form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
window.onload = function(){
	var socket = io();
	var form = document.querySelector('form');
	var messages = document.getElementById('messages');

	form.addEventListener("submit", submitform);//form.addEventListener("submit", submitform());
	//object.onsubmit=function(){myScript};

	function submitform(){
			var sVal = document.querySelector('#myinput').value;
			socket.emit('chat message', sVal);
			document.querySelector('#myinput').value = '';
			return false;
	}

	socket.on('chat message', function(msg){ //获取匿名函数内部变量的值
		var li = document.createElement("li");
		li.innerText = msg;
		console.log(li); //遇到错误
		messages.appendChild(li);
	});

}

  // $(function () {
  //   var socket = io();
  //   $('form').submit(function(){
  //     socket.emit('chat message', $('#myinput').val());
  //     $('#myinput').val('');
  //     return false;
  //   });
  //   socket.on('chat message', function(msg){
  //     $('#messages').append($('<li>').text(msg));
  //   });
  // });

</script>
</body>
</html>
