body, table, th, td, tr{
  padding: 0;
  margin: 0;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7EE;
  text-decoration: none;
}
a:hover{
  color: #99AAFF;
}
table, th, td{
  border:1px solid #98bf21;
  border-collapse: collapse;
  text-align: center;
}
table {
  width: 100%;
  margin: 0 auto;
}
th{
  background-color:#A7C942;
  font-size:1.2em;
  color:#ffffff;
  padding: 0.8em 0;
}
td{
  font-size:1em;
  padding: 0.8em 0;
}
table tr:nth-child(odd){
  color:#000000;
  background-color:#EAF2D3;
}
